<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>登录页面</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div id="log-box">
            <div class="logall">
                <input type="text" class="input-box" id="id-input-account" value="" placeholder="账号">
                <input type="text" class="input-box" id="id-input-password" value="" placeholder="密码">
                <br>
                <button id="id-button-login">登录</button>
                <button id="id-button-logup">注册</button>
            </div>
        </div>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/js/match.js"></script>
        <script src="/js/account.js"></script>
    </body>
</html>
